#contact iframe, .contact_1
{
    margin-left: 2%;
    width: 96%;
}

.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
img{
    width: 100%;
    
}
